.landing {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1543107076-8f86ee268706?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43e942caa181d92051d2ae96874b4793&auto=format&fit=crop&w=1600&q=80');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: 1s fadein forwards;

  @media(max-width: 1024px) {
    background-image: url('https://images.unsplash.com/photo-1542372712-fc07597133cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7a1e88bbfd89195d6772e421a65005c&auto=format&fit=crop&w=1834&q=80');
    background-size: 150%;
    background-position: bottom;
  }
  
  &__header {
    position: absolute;
    bottom: 26%;
    left: 15%;

    @media(max-width: 768px) {
      bottom: 20%;
      left: 5%;
    }

    &__subtitle {
      color: white;
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: -1rem;

      @media(max-width: 768px) {
        font-size: 2.2rem;
      }
    }

    &__title {
      color: white;
      font-size: 8rem;
      font-weight: 700;
      opacity: 0.8;

      @media(max-width: 768px) {
        font-size: 5rem;
      }
    }
  }

  &__top-left {
    position: absolute;
    top: 3%;
    left: 2%;
    opacity: 0;
    animation: 2s fadein forwards;

    @media(max-width: 768px) {
      left: 8%;
    }

    &__item {
      font-weight: 300;
      font-size: 2.4rem;
    }

    &__link {
      color: rgb(22, 22, 22);
      
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: black;
      }
    }
  }

  &__bottom-right {
    position: absolute;
    bottom: 3%;
    right: 2%;
    opacity: 0;
    animation: 2s fadein forwards;

    @media(max-width: 768px) {
      right: 8%;
    }

    &__item {
      font-weight: 300;
      font-size: 2.4rem;
      color: rgb(218, 218, 218);
    }
    &__link {
      color: rgb(218, 218, 218);
      
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: white;
      }
    }
  }

  &__bottom-left {
    position: absolute;
    bottom: 3%;
    left: 2%;
    opacity: 0;
    animation: 2s fadein forwards;
    
    @media(max-width: 768px) {
      left: 8%;
    }

    &__item {
      font-weight: 300;
      font-size: 2.4rem;
      color: rgb(218, 218, 218);
    }
    &__link {
      color: rgb(218, 218, 218);
      
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: white;
      }
    }
  }
}