<% include partials/header %>

<div class="gallery">
  <div class="gallery__top">
    <div class="gallery__top__left">
      <a class="gallery__top__left__link" href="/">
        <i class="fas fa-camera fa-3x"></i>
      </a>
    </div>
  </div>
  <div class="gallery__bottom">
    <div class="gallery__bottom__left">
      <a class="gallery__bottom__left__link" href="http://instagram.com">
        <h2 class="gallery__bottom__left__item">instagram</h2>
      </a>
    </div>
    <div class="gallery__bottom__right">
      <a class="gallery__bottom__right__link" href="/gallery">
        <h2 class="gallery__bottom__right__item">gallery</h2>
      </a>
    </div>
  </div>
  
  <div class="gallery__grid">
    <div class="gallery__grid__row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1531057228999-37933ba12c52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c127f198b5da68b09351d93c711166b&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1525891618908-24765267dab7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fbbbd1bc5969845bea8e403393414773&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1498248801465-e92616fd7db8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2479c32ab2c0a87f1d64c47d6b189d22&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1537157315093-4fc4d1995b49?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e25efa28c2f8e2e3d4d35b6718ef555e&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up">
        </div>
      </div>
    </div>
    <div class="gallery__grid__row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1511468102400-883d6ea28755?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf35c4c6ec7983588d0697fb0b05544a&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="300">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1513985768785-f12f38ce03cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1eb9fd6388ea9c35e1c7731a8d9e0bdf&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="300">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1484976063837-eab657a7aca7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=92480acefd97293808fcb7dc4f7f37f3&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="300">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1494370512498-4c1f5ec27341?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a51cb1171cdd3db4526fb41c90a17fb0&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="300">
        </div>
      </div>
    </div>
    <div class="gallery__grid__row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-0.3.5&s=2d488950cd12de320112ad789c82ad98&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="600">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1523669565872-ab32c1c3a6f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed2771428499f51af83253a5e8b4e0d8&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="600">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1503993656770-0479a287559e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1b04c5e48d5488c8ef44f36e0d0388e&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="600">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1502252430442-aac78f397426?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc1e8b41b91dc1770d5771c62480ee5b&auto=format&fit=crop&w=1650&q=80" alt="foto gallery" data-aos="fade-up" data-aos-delay="600">
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>