<% include partials/header %>

<div class="landing">
  <div class="landing__header">
    <h3 class="landing__header__subtitle" data-aos="fade-right" data-aos-duration="1000">In Search Of</h3>
    <h1 class="landing__header__title" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">The Perfect Shot</h1>
  </div>
  <div class="landing__top-left">
    <a class="landing__top-left__link" href="/">
      <i class="fas fa-camera fa-3x"></i>
    </a>
  </div>
  <div class="landing__bottom-right">
    <a class="landing__bottom-right__link" href="/gallery">
      <h2 class="landing__bottom-right__item">gallery</h2>
    </a>
  </div>
  <div class="landing__bottom-left">
    <a class="landing__bottom-left__link" href="http://instagram.com">
      <h2 class="landing__bottom-left__item">instagram</h2>
    </a>
  </div>
</div>

<% include partials/footer %>